@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@100;200;300;600&family=Oswald:wght@300;400;600&family=Roboto:wght@100;300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

a{
  text-decoration: none;
  color: black;
  font-size: large;
}

body{
  width: 100%;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  background:#C0C0C0 ;
}

/* ------------------- */

#image_header img {
  width: 40px;
  height: 40px;
  object-fit: fill;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.189);
  margin-bottom: 5px;
}

ul li{
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin-left: 30px;
  padding: 5px;
}

ul li a:hover{
  color: #7283a7;
  transition: 200ms;
}
.header-button button{
  padding: 5px 15px;
  border: none;
  background: linear-gradient(to right, #3a3939 50%, #2023c1 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  font-weight: 600;
  cursor: pointer;
  transition: all 300ms ease-out;
  text-align:center;
  border-radius: 20px;
  display:block;
  align-items:center;
  margin: 0 auto;
}

.header-button a{
  color: #fff;
}

.header-button button:hover{
  background-position: left bottom;
  align-content: space-between;;
}

#divisor{
  margin: 0 auto;
  margin-top: 15px;
  border: 1px solid #2023c1;
  width: 60%;
}
/* -------------------------- */

.input-box label h6{
  font-size: 0.80rem;
  color: #000000c0;
}

.form{
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0,0,0, .212);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #fff;
}
.form form{
width: 50%;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 2.3rem;
margin:0 2rem 0 2rem;
}

.login-image{
  width: 50%;
  height: 100%;
  background-color: #7283a7;
  padding: 1rem;
  display:flex;
}

.login-image img{
  width: 60vh;
  margin: 40px 0 40px 0;
}


 h1{
  padding-bottom: 50px;
 }

.input-box input{
  padding: 0.3rem 0.4rem;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #00000060;
}


.login-form{
  display: block;
}

label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.register strong{
  font-size: 20px;
}

.button-login{
  margin-bottom: 30px;
  width: 150px;
  font: bold 20px;
  height: 2rem;
  border-radius: 10px;
  background-color: #2023c1;
  border: none;
  cursor: pointer;
  transition: 400ms;
  color: #fff;
  font-size: large;
  font-weight:400 ;
}

.button-login:hover{
  border-radius: 20px;
}

.button-login a{
  color: #fff;
  font-weight: 600;
  font: bold;
}

 .login-with img{
  display: inline;
  justify-content: center;
  align-items: center;
  width: 0.75cm;
  height: 0.75cm;
  transition: 300ms;
}

h1::after{
  content: '';
  display:block;
  width: 4rem;
  height: 0.3rem;
  background-color: #2023c1;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
  font-size: normal;
}
